/* General Styles */
body {
    font-family: Arial, sans-serif;
  }
  
  .d-flex {
    display: flex;
  }
  
  /* Sidebar */
  .sidebar {
    width: 260px;
    height: 901px;
    top: -1px;
    gap: 0px;
    opacity: 0px;
    
    background-color: #343a40;
    
    color: white;
    
  }
  .contant{
    width: 202px;
height: 107px;
top: 294px;
left: 29px;
gap: 0px;
opacity: 0px;

  }
  .sidebar h5 {

    
    width: 115px;
    height: 16px;
    top: 371px;
    left: 101px;
    gap: 0px;
    opacity: 0px;
    background: #282828;
 font-size: small;

  }
  .mb{
    
    

  }
  
  .btn-orange {
    

   color: #dee2e6;


   
   background-color: #FF7F00;
   border: none;
   color: white;
   padding: 10px;
   font-size: 16px;
   width: 150px;
   height: 40px;
   top: 268px;
   left: 1258px;
   gap: 0px;
   border-radius: 6px 0px 0px 0px;
   opacity: 0px;

  }
  
  /* Main Content */
  .flex-grow-1 {
    flex-grow: 1;
    background-color: #f5f5f5;
    padding: 20px;
  }
  .form-control{
    margin-left: 3vw;
    width: 264px;
height: 38px;
top: 275px;
left: 462px;
gap: 0px;
border-radius: 7px 0px 0px 0px;
opacity: 0px;

  }
  /* VVDN Logo */
  .vvdn-logo {
    width: 150px;

    width: 220px;
height: 73px;
top: 45px;
left: 708px;
gap: 0px;
opacity: 0px;

  }

  .
  /* Header and "Hello, Eric!" */
  .header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-section .text-right {
    font-size: 16px;
  }
  .text-right{
    width: 171px;
height: 27px;
top: 66px;
left: 1190px;
gap: 0px;
border-radius: 32px 0px 0px 0px;
opacity: 0px;

  }
  /* Dongles Header */
  .dongles-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .dongles-header h3 {
    margin: 0;
    font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 21.78px;
text-align: left;

    text-align: center;
  }
  
  .dongles-header input {
    width: 300px; /* Adjust width as per your design */
    margin-left: 15px; /* Increased margin for added gap */
  }
  
  .dongles-header button {
    white-space: nowrap;
  }
  
  /* Table Styles */
  .table {
    width: 100%;
    margin-top: 20px;
  }
  
  .table thead th {
    background-color: #f8f9fa;
    font-weight: bold;
  }
  
  .table-bordered th, .table-bordered td {
    border: 1px solid #dee2e6;
    vertical-align: middle;
    text-align: center;
  }
  
  input[type="checkbox"] {
    transform: scale(1.2);
    margin-right: 10px;
  }
  
  .text-success {
    color: #60B960 !important;
  }
  
  .text-warning {
    color: #60B960 !important;
  }
  
  .text-danger {
    color: #60B960!important;
  }
  
  td, th {
    padding: 15px;
  }
  